<!DOCTYPE html>
<html>

<head>
    <title>Counter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <style type="text/css">
    	* {
    		font-family: 'Fjalla One', sans-serif;
    	}

        div {
            margin-bottom: 10px; 
        }
        
        span {
            background: #1f6df2;
            color: white;
            font-size: 2em;
            padding: 5px 10px;
            font-weight: bold;
        }

        h1 {
            display: inline;
        }
    </style>
</head>

<body>

	<!-- <center><img src="/static/rick.jpg" width="400"></center> -->

	<center>
		<div><span>{{heads_counter}}</span> <h1>heads</h1></div>
		<img src="/static/{{detected_image}}" style="max-width: 90%;"><br/>
        <a href="/">Другое фото</a>
	</center>

</body>

</html>